* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(15%, 300px) 1fr; /* Sidebar fixed, content grows */
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    font-family: "Roboto", sans-serif;
}

/* Header Styling */
.header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "top-row"
        "bottom-row"
    ;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}   

.top-header-area {
    grid-area: top-row;
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
}

.search input {
    width: 40vw;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(230, 235, 243);
    padding: 1rem;
}

.search input::placeholder {
    color: gray;
    text-align: center;
    font-style: italic;
}

.hero-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3rem;
    gap: 1rem;
}

.hero-logo a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

.upper-logo {
    transition: all 0.3s ease;
}

.upper-logo:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.bell-icon:hover {
    cursor: pointer;
    content: url("Assets/Icons/bell-ring.svg");
}

.bottom-header-area {
    grid-area: bottom-row;
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
}

.logo {
    transition: all 0.3s ease;
}

.logo:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.hi-text-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.hi-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.small-hi-text {
    font-size: 0.85rem;  
    font-weight: bold;
}

.bigger-hi-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-button-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    gap: 2rem;
}

.button {
    background-color: rgb(27, 142, 221);
    border-radius: 3.5rem;
    font-size: 1rem;
    color: aliceblue;
    font-weight: bold;
    border: none;
    height: 2.5rem;
    width: 7rem;
    transition: all 0.3s ease;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgb(27, 142, 221);
}


/* Sidebar Styling */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 0.25fr 1fr 2fr;
    justify-content: start;
    align-items: start;
    padding: 8px;
    background-color: rgb(27, 142, 221);
    color: aliceblue;
    font-size: 20px;
}

.sidebar-header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.sidebar-header > img {
    justify-self: start;
}

.nav-icons, 
.setting {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
    font-weight: 500;
}

.nav-icons > div, 
.setting > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1em;
    margin-left: 9px;
    cursor: pointer;
}

.sidebar img {
    filter: brightness(0) invert(1);
}




/* Main Content Styling */
.main-content {
    grid-area: content;
    background-color: rgb(230, 235, 243);
    display: grid;
    grid-template-areas: 
        "projects announcements";
}

.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
} 

.projects-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}


.card {
    height: 12rem;
    width: 28rem;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.3s ease;
}
  
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgb(27, 142, 221);
    cursor: pointer;
}

.card p {
    color: gray;
    font-size: 0.85rem;
}

.announcements-trending {
    grid-area: announcements;
    margin-top: 2rem;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 2.85rem;
}

.announcements {
    display: grid;
    grid-template-rows: max-content;
    gap: 0.5rem;
}

.announcements-list {
    height: 20rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.announcement-item {
    padding: 8px;
}

.announcement-item p {
    color: gray;
    font-size: 0.85rem;
}

.ann-item1,
.ann-item2 {
    border-bottom: 1px solid gray;
}

.trending {
    display: grid;
    grid-template-rows: max-content;
    gap: 0.5rem;
}

.trending-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: max-content;
    width: 18rem;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trending-item {
    display: flex;
    gap: 1rem;
}

h3 {
    font-weight: 550;
}

.trending-item img {
    border-radius: 1rem;
}

.trending-text .at {
    font-size: 0.85rem;
    font-weight: 450;
}

.trending-text .trending-project {
    font-size: 0.75rem;
    color: gray;
    margin-top: 2px;
}

.announcements-list div:hover,
.trending-list div:hover {
    cursor: pointer;
}